//colors
$color-text--main: #ffffff;
$color-headline: #f7f7f7;
$color-text--second: #fff9fb;
$color-text--buttons: #1a1a1a;

$color--accent: #094ab2;
$color--accent-light: #3a44f9;

$color-bg-light: #17171b;
$color-text-proj: #fff;
$color-bg--main: #ed0e24;
$color-bg--second: #000;
$color-bg--accent: #4c44ed;
$color-marked: rgb(49, 240, 255);
$color-marked-fixed: #ededed;
$color-marked--emph: #ededed;

$beige: #f5f5f5;
$black: #000000;
$red: #b83939;
//text
$text-xl: 5.6rem;
$text-lg: 5rem;
$text-sm: 12px;
$text-md: 0.8rem;
$text-xs: 0.7rem;

//breakpoints

// Small devices (landscape phones, 576px and up)
$xs: 576px;

// Medium devices (tablets, 768px and up)
$sm: 768px;

// Large devices (desktops, 992px and up)
$md: 992px;

// Extra large devices (large desktops, 1200px and up)
$lg: 1200px;

// Extra large devices (large desktops, 1200px and up)
$xl: 1400px;
