.post-about {

  &-item {
    height: 350px;
    margin-top: 48px;
    display: flex;
    flex-direction: column-reverse;

    &.column {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      

      div {
        width: 50%;
        
        &:not(:last-child) {
          border-right: 2px solid #eadbc424;
        }
        @media only screen and (max-width: 576px) {
          &:not(:last-child) {
            border-right: inherit;
          }
          padding-bottom: 40px;
        }
      }
    }

    p {
      font-family: "Migra", serif;
      font-size: 18px;
      margin-top: 24px;
      margin-bottom: inherit;
    }
    span {
      font-size: 16px;
      // font-family: "Radio Grotesk", sans-serif;
      // letter-spacing: inherit;
      // font-weight: 500;
      // text-transform: uppercase;
      line-height: 1;
      // letter-spacing: 1.2px;
    }
  }
}

.about {
  padding: 0 16px;
  margin-top: 120px;

  h4 {
    font-size: 18px;
  }
  .resume {
    margin-top: 64px;
  }
  .skill-list {
    // display: flex;
    margin-top: 80px;
    margin-left: 0;
    flex-wrap: wrap;
    max-width: inherit;
    margin-left: -16px;
    width: calc(100% + 32px);
    ul {
      margin: 0;
      display: block;
      // border: 1px solid;
      &:first-child {
        margin-left: 0;
        // padding-left: 0;
      }

      list-style: none;

      li {
        line-height: 1.4;
        font-size: 40px;
      }
      li:first-child {
        margin-bottom: 24px;
        font-size: 18px;
        text-transform: lowercase;
        font-weight: 400;
        margin-top: 56px;
      }
    }
  }
  .education {
    margin: 140px 0 140px 0;
    ul {
      display: flex;
      font-size: 34px;
      width: 100%;
      list-style: none;
      margin: 0;
      li {
        // width: 33%;
        padding: 0;
        position: relative;
        line-height: 1;
        &:not(:last-child):after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 32px;
          width: 100px;
          // background-position: left center;
          // background-size: contain;
          // background-repeat: no-repeat;
          // background-image: url('../../maries-simplified-website/assets/arrow.png');
        }
        h4 {
          max-width: 86%;
          font-size: 34px;
          font-weight: 500;
          font-style: normal;
        }
      }
      img {
        height: 100%;
        margin: auto 0;
        padding: 0 21px;
      }
      .date,
      .location {
        display: block;
        margin: 24px 0;
        color: #545454;
      }
      .date {
        font-size: 16px;
      }
      .location {
        font-size: 16px;
      }
    }
  }
}
