.footer {
  width: 100%;
  bottom: 0;
  padding: 24px 0;
  h3 {
    margin-left: 16px;
  }
  ul {
    padding-left: inherit;
    margin: inherit;
    margin: 24px;
    li {
      
      list-style: none;
      // border-bottom: #ffffff1a 1.5px solid;
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 40px;
      font-size: 18px;
      font-weight: 400;
      justify-content: left;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;

      font-size: 34px;
      height: 78px;
      padding-left: 0;
      &:not(:last-child) {
        // border-bottom: 2px solid white;
      }
      &::before {
        content: "";
        position: absolute;
        // background: #ffffff;
        display: block;
        height: 24px;
        width: 24px;
        margin-left: -30px;
      }

      img {
        padding-right: 16px;
      }
    }
  }
  .reference {
    padding-left: 16px;
    opacity: 0.3;
  }
}

#footer {
  &.shift {
    animation: 1s revealFooter forwards;
    background: red;
  }

  @keyframes revealFooter {
    0% {
      transform: translateY(-150);
    }
    100% {

      transform: translateY(0);
    }
  }
}