.footer {
  width: 100%;
  bottom: 0;
  padding: 0 40px;
  display: block;
  position: relative;
  border-top: 2px solid #000000;
  h3 {
    
  }
  ul {
    padding-left: 0;
    margin: inherit;
    // margin: 24px;
    li {
      
      list-style: none;
      cursor: pointer;
      padding-left: 0;

      &:not(:last-child) {
        // border-bottom: 2px solid white;
      }
      &::before {
        content: "";
        position: absolute;

      }

      img {
        padding-right: 16px;
      }
    }
  }
  .reference {
    display: block;
    opacity: 0.3;
  }
}

#footer {
  &.shift {
    animation: 1s revealFooter forwards;
    background: red;
  }

  @keyframes revealFooter {
    0% {
      transform: translateY(-150);
    }
    100% {

      transform: translateY(0);
    }
  }
}