.greeting {

  padding: 0 40px !important;
  .about-me {
    padding-top: 80px;
    ul {
      margin-left: 0;
      padding: 0;
    }
    ul li{
      list-style: none;

    }
  }
  #greeting-mail {
    display: inline-block;
    padding-top: 12px;
    border-bottom: 1px solid black;
    // border-bottom: none !important;
  }
  #headline {
    padding: 64px 0;
    text-align: center;
  }
  h2 {

    // max-width: 89%;
    pointer-events: none;
    font-weight: 400;
    text-align: justify;
    // line-height: 0.95;
    
    @media only screen and (max-width: 768px) {
      // font-size: 72px;
      line-height: 1.1;
      font-weight: 300;
    }
  }
  span {
    // color: #E3D4C8;
    color: #000000;
  }
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 80px;
  @media only screen and (max-width: 768px) {
    padding-top: 90px;
    padding-bottom: 0;
  }
  .mini-me {
    // background: white;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-size: cover;
    background-position: center center;
    // display: none;
    video {
      filter: contrast(1.8);
      width: 101px;
      margin-left: -20px;
      position: absolute;
      height: 86px;
      margin-top: -8px;
    }
  }
  #container {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 300px;
    left: 0;
  }
}

// font-size: 80px;
//     font-weight: 400;
//     line-height: 90px;
//     letter-spacing: -1px;
