.update {
  .update-container {
    display: flex;
    height: 200px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    margin: 34px 0 56px;

    img {
      // max-height: 300px;
      padding-left: 0;
      height: 100%;
    }
  }
}

.works {
  width: 100%;
  padding: 0;

  padding-top: 24px;
  border-top: 2px solid #000000;
  &-container {
    display: flex;
    padding: 0;
    margin-top: 40px;

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &-introblock {
    padding: 0 40px;
  }
  .item {
    overflow: hidden;
  }
  .video-bg-container {
    overflow: hidden;

    video {
      object-fit: fill;
      height: -webkit-fill-available;
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      // height: auto;
      z-index: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .work-filters {
    display: block;
    margin-top: 40px;
    color: #000000;
    a {
      font-size: 18px;
      margin-right: 33px;
      display: inline-block;

      &:after {
        bottom: 1px;
        color: #000000;
        background-color: #000000;
      }
    }
    .filter-selected {
      font-weight: 700;
      // &:after {
      //   transform-origin: left;
      //   width: 100%;
      //   animation: 0.7s animateLine cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
      // }
    }
  }
  .small-section,
  .big-section {
    display: flex;
    flex-wrap: wrap;
  }
  .small-section {
    padding: inherit;
    .item {
      display: block;
      // height: 330px;
      height: 338px;
      // margin-bottom: 16px;
      width: 100%;
      background-size: 123%;
      background-position: center center;
    }
  }
  .big-section {
    padding: inherit;
    padding-right: 0;
    // margin-left: 16px;
    .item {
      display: block;
      height: calc(652px + 24px);
      // width: calc(100% - 16px);
      width: 100%;
      background-size: cover;
      background-position: center center;

      &-long {
        height: 338px;
        background-size: cover;
      }
    }
  }
  .big-section .item {
    opacity: 0;
    // transform: translateY(70px);
    transition: all 0.7s ease-out;
    &.visible {
      opacity: 1;
      // transform: translateY(0);
    }
  }
  .small-section .item {
    opacity: 0;
    transition: all 1.1s ease-out;
    &.visible {
      opacity: 1;
    }
  }
  .item {
    position: relative;
    padding: 0 !important;

    .more-button {
      display: none;
      width: 60px;
      position: absolute;
      right: 0;
      top: 0;
    }
    &-text {
      cursor: none;
      font-family: "Agrandir-Narrow";
      visibility: hidden;
      padding: 40px 0 0 40px;
      background: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%;

      h3 {
        color: #fff;
        font-size: 24px;
        width: fit-content;
        font-family: "Agrandir-Narrow";
        max-width: 300px;
        word-break: break-all;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        // font-size: 18px;
        align-items: center;
        display: flex;
      }
    }
    &:hover .item-text {
      visibility: visible;
    }

    .text-subheadline {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
    img {
      width: 100%;
    }
  }
}

.section-insta {
  display: flex;
  flex-wrap: wrap;

  .Header {
    background: red !important;
    display: none !important;
  }
}
